<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Game</title>
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/darkly.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/jquery-ui/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/trouduc.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/cards.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/positions.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/main-ui.css') }}" />
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/knuth.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/faye.js') }}"></script>
    <script type="text/javascript" src="http://localhost:3000/client.js"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/bootstrap-switch/dist/js/bootstrap-switch.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1>
                <a class="navbar-brand" href="{{ path('ja_cards_lobby') }}">Trouduc</a>
            </h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li role="presentation">

                </li>
                <li role="presentation" class="{% if app.request.attributes.get('_route') == 'ja_cards_lobby' %}active{% endif %}"><a href="{{ path('ja_cards_lobby') }}">Lobby</a></li>
                <li role="presentation" class="{% if app.request.attributes.get('_route') == 'ja_cards_new' %}active{% endif %}"><a href="{{ path('ja_cards_newgame') }}">New</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% block user_bar %}
                {%if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="escape-nav-style" href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li><a class="escape-nav-style" href="{{ path('fos_user_security_logout') }}">Disconnect</a></li>
                        </ul>
                    </li>
                {% endif %}
                    {#
                    {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all()) %}
                    {% set frParams = params|merge({'_locale': 'fr'}) %}
                    {% set enParams = params|merge({'_locale': 'en'}) %}
                    <li>&nbsp;<a class="escape-nav-style" {%if app.request.locale == "fr"%} class="active-lang" {% endif %} href="{{ path(app.request.attributes.get('_route'), frParams) }}"><img src="{{ asset('img/flags/fr.png') }}" /></a></li>
                    <li>&nbsp;<a class="escape-nav-style" {%if app.request.locale == "en"%} class="active-lang" {% endif %} href="{{ path(app.request.attributes.get('_route'), enParams) }}"><img src="{{ asset('img/flags/gb.png') }}" /></a></li>
                    #}
                {% endblock %}
            </ul>
        </div>
    </div>

</nav>


{% block play_area %}
{% endblock %}
<script type="text/javascript">
    var configuration = {

        {% block js_configuration %}
        cardCheckUrl: "{{ path("ja_cards_checkcards") }}",
        {% if user is defined %}
            userName: "{{ app.user.username }}",
        {% endif %}
        smileyDir: " {{ asset('img/smileys/') }}",
        scrollPause: false,
        {% if user is defined %}
            userCred: "{{ user }}",
        {% endif %}
        {% if game is defined %}
            dealerUrl: "{{ path("ja_cards_getcards",{'id': game.uniqueId}) }}",
        {% endif %}
        pingUrl: "{{ path('ja_cards_ping') }}"

        {% endblock %}
    }

</script>
{% block bottom_scripts %}
    <script type="text/javascript" src="{{ asset('js/deal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/manip.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/play.js') }}"></script>
    <script type="text/javascript">//newdeck();</script>
{% endblock %}
</body>
</html>